/* css styles */
/*-- scss:rules --*/

h1.title {
  text-align: left;
}
h4.author { /* Header 4 - and the author and data headers use this too  */
  text-align: right;
}
h4.date { /* Header 4 - and the author and data headers use this too  */
  text-align: left;
  
